{% extends 'base.html' %}
{% block title %}
Get Recommendations
{% endblock %}

{% block content %}
<div class="row mt-2">
    <h1>Get Book Recommendations</h1>
    <form method="POST">
        <div class="mb-3">
          <label for="Book Name" class="form-label">Which book do you like?</label>
          <input type="text" class="form-control" id="bookname" name="bookname" value="{{bookname}}" required placeholder="Enter a name of book that you like">
        </div>
        <button type="submit" class="btn btn-primary">Get Recommendations</button>
      </form>
    
    {% if data %}
    {% for i in range(data|length) %}
        <div class="col-md-3 mb-2 mt-2">
            <div class="card">
                <img src="{{data[i][2]}}" class="card-img-top" alt="{{data[i][0]}}">
                <div class="card-body">
                <h5>{{data[i][0]}}</h5>
                <p>{{data[i][1]}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}